@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dotted background pattern */
.bg-dot-light {
  background-color: #f1f5f9;
  background-image: radial-gradient(#5e648282 1px, transparent 1px);
  background-size: 20px 20px;
}

/* Hero background image */
.hero-bg-image {
  background-image: url("/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

button,
input,
textarea {
  outline: none;
}
